* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
    --main_font: "Varela Round", sans-serif;
  --main_color: #06bc9b;
  --light_color: rgba(82, 93, 104, 0.7);
  --background_light: #f2f2f2;
}

body {
    font-size: 14px;
}

#nav-menu {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: #fff;
    overflow: hidden;
    font-family: var(--main_font);
    font-size: 1em;
    display: flex;
    padding: 0 10px;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}

#user-detail-name{
    font-size: 2em;
    color: var(--main_color);
}

#nav-menu ul {
  list-style-type: none;
  text-align: center;
}

#nav-menu li {
  display: inline-block;
}

.active_menu{
    border-bottom: 2px solid var(--main_color);
    color: var(--main_color);
}

#nav-menu li a {
  display: block;
  color: var(--light_color);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#nav-menu li a :active{
    text-decoration: underline;
    color: var(--main_color);
}

#nav-menu li a:hover {
  color: var(--main_color);
}

section {
  padding: 50px;
  background-color: var(--background_light);
}

h2 {
  margin-top: 0;
}
