:root {
  --main_font: "Varela Round", sans-serif;
  --side_font: "Roboto", sans-serif;
  --main_color: #53d4ba;
  --light_color: #ffffffaa;
  --background_light: #0a192f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--main_font);
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 14px;
}

/* section */
section {
  scroll-margin-top: 60px;
}

/* resume button */
.resume{
  border: 1px solid var(--main_color);
  border-radius: 4px;
  transition: 0.3s;
}

/* navigation bar */
#nav-menu {
  background-color: var(--background_light);
  overflow: hidden;
  font-family: var(--side_font);
  font-size: 1em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 10px 0 4px 0;
}

#logo {
  width: 50px;
  border-radius: 50%;
}

#nav-menu ul {
  list-style-type: none;
  text-align: center;
}

#nav-menu li {
  display: inline-block;
}

#nav-menu .active_menu {
  border-bottom: 2px solid var(--main_color);
  color: var(--main_color);
}

#nav-menu li a, #resume-button-1 {
  display: block;
  text-align: center;
  padding: 6px 16px;
  text-decoration: none;
  color: #ffff;
  font-size: 1.4em;
}

#resume-button-1{
  width: 150px;
  margin-top: 16px;
}

#nav-menu li a :active {
  text-decoration: underline;
  color: var(--main_color);
}

#nav-menu li a:hover, #resume-button-1:hover {
  color: var(--main_color);
}

/* home section starts here */
#home {
  background-color: var(--background_light);
  color: #ffff;
}
#home .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 90vh;
}
#home .left_home_container {
  width: 50%;
}

#home .left_home_container .box .hi_my_name_is {
  font-family: var(--side_font);
  color: var(--main_color);
  font-size: 1.4em;
}
#home .left_home_container .box .my_name {
  font-size: 4em;
}
#home .left_home_container .box .profession {
  font-size: 3.2em;
  color: var(--light_color);
}
#home .left_home_container .box .my_overview {
  color: var(--light_color);
  padding-top: 10px;
  line-height: 24px;
  font-size: 1.4em;
}
#user-detail-intro{
  font-size: 2em;
  color: var(--background_light);
}
#home .right_home_container img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
}

/* about section */
#about{
text-align: center;
min-height: 90vh;
background-color: var(--main_color);
}
#about h1{
  font-size: 4em;
}
#about .container .contact_links{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 12px;
  font-size: 2em;
}
#about .container .contact_links p{
  display: flex;
  align-items: center;
}
#about .container .contact_links p i{
  margin-right: 4px;
}

/* skill section */
#skills{
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
#skills .skills-card{
  width: 100px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
#skills .skills-card img{
  width: 100px;
}