:root {
  --main_font: "Varela Round", sans-serif;
  --side_font: "Roboto", sans-serif;
  --main_color: #53d4ba;
  --light_color: #ffffffaa;
  --background_light: #0a192f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--main_font);
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 14px;
}

section {
  scroll-margin-top: 50px;
}

/* section */

#nav-menu {
  background-color: var(--background_light);
  overflow: hidden;
  font-family: var(--side_font);
  font-size: 1em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 10px 0 4px 0;
}

#logo {
  width: 30px;
  border-radius: 50%;
}

#nav-menu ul {
  list-style-type: none;
  text-align: center;
}

#nav-menu li {
  display: inline-block;
}

#nav-menu .active_menu {
  border-bottom: 2px solid var(--main_color);
  color: var(--main_color);
}

#nav-menu li a {
  display: block;
  text-align: center;
  padding: 6px 16px;
  text-decoration: none;
  color: #ffff;
}

#nav-menu li a :active {
  text-decoration: underline;
  color: var(--main_color);
}

#nav-menu li a:hover {
  color: var(--main_color);
}

/* home section starts here */
#home {
  background-color: var(--background_light);
  color: #ffff;
}
#home .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 90vh;
}
#home .left_home_container {
  width: 50%;
}

#home .left_home_container .box .hi_my_name_is {
  font-family: var(--side_font);
  color: var(--main_color);
  font-size: 1.4em;
}
#home .left_home_container .box .my_name {
  font-size: 4em;
}
#home .left_home_container .box .profession {
  font-size: 3.2em;
  color: var(--light_color);
}
#home .left_home_container .box .my_overview {
  color: var(--light_color);
  padding-top: 10px;
  line-height: 24px;
  font-size: 1.4em;
}
#home .right_home_container img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
}
